
button {
  width: 200px;
  height: 200px;
  margin-top: 15%;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;
}

body {
  background-color: lightblue;
  text-align: center;
}

#startBtn {
  background-color: green;
}

#homeBtn {
  position: absolute;
  top: 45%;
  left: 89%;
  background-color: red;
}

.pink {
  background-color: violet;
}

#nextQuestion {
  background-color: green;
}

#restartGame {
  background-color: red;
}