body {
  text-align: center;
  background-color: grey;
  color: white;
}

button {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
}



.imgContainer {
  width: 500px; 
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 150px;
  
}


img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid;
  
}

#score {
  font-size: 50px;
}
